.contactMePage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-nunito);
    background-color: #e6dace;
    padding: 80px 0;
  }