.hamburgerContainer {
  z-index: 1;
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  padding: 0;
  position: relative;
}

.firstLine,
.secondLine,
.thirdLine {
  width: 25px;
  height: 4px;
  background-color: blue;
  transition: transform 1.2s, margin 1.2s, position 1.2s, transform-orgin 1.2s;
}

.firstLine,
.thirdLine {
  position: absolute;
  width: 15px;
}

.firstLine {
  top: 0;
  left: 0;
  transform-origin: bottom left;
}

.secondLine {
  width: 30px;
}

.thirdLine {
  bottom: 0;
  right: 0;
  transform-origin: top right;
  margin-left: 15px;
}

.openHamburgerContainer {
  z-index: 1;
  .firstLine,
  .thirdLine {
    background-color: black;
  }

  .firstLine {
    transform: rotateZ(45deg);
    translate: 3px 2px;
  }

  .thirdLine {
    transform: rotateZ(45deg);
    margin-right: auto;
    translate: -3px -2px;
  }

  .secondLine {
    background-color: black;
    transform-origin: center;
    transform: rotateZ(-45deg);
  }
}
