.inputContainer {
  width: 100%;
  margin-bottom: 30px;
}

.inputClass {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.labelClass {
  display: flex;
  font-weight: 700;
  margin-bottom: 10px;
}
