@keyframes animatedNavAppear {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animatedDisappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-200%);
  }
}

.headerStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 22px;
  position: sticky;
  top: 0;
  background-color: white;
}
.headerLeftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.portfolioOwnerName {
  font-size: 20px;
}

.designation {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.navDropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f4ece6;
  transform: translateY(-200%);
  opacity: 0;
}

.navDisappear {
  animation: animatedDisappear 1s forwards;
}
.navAppear {
  animation: animatedNavAppear 1s forwards;
}

.noScroll {
  overflow: hidden;
}

.navLink {
  text-decoration: none;
  margin: 20px 0;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

.activeLink {
  color: #0050ff !important;
}
